# Importing, Reading and Manipulating Data with ACTUAL LITERAL PANDAS

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - but Pandas is a great library to work with relational data. 

[Check out the documentation!](https://pandas.pydata.org/pandas-docs/stable/) (always a great idea)

Before we get into Pandas, let's talk about Numpy for a second. Numpy stands for "Numerical Python" and it's designed for high-level mathematical functions and computing functionality. It uses multi-dimensional arrays to store data, which is more convenient and more optimized than a 'pure' Python type. What that means is that Numpy is fast - faster than base Python. 

We're not going to go into a lot of Numpy functionality here, but here's something cool - Pandas is built on top of Numpy! That means they work really well together, and that Pandas has some math functionality already built in.

If you'd like to read more about Numpy and Pandas, [here is an interesting blog post](https://cloudxlab.com/blog/numpy-pandas-introduction/) discussing them.

Let's dive into some data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Today we'll be working with the intakes data, which I've already downloaded and included in the repository.

In [1]:
# Import
import pandas as pd

Before reading in the data, we need to know what format the data is in and where exactly the data can be found, so we can tell Pandas what to do.

In [2]:
# Where is our data?
!ls data/

Austin_Animal_Center_Intakes_10-08-20.csv
Austin_Animal_Center_Outcomes_10-14-20.csv

In [12]:
# Read in the comma-separated-value (csv) document as df
df = pd.read_csv('data/Austin_Animal_Center_Intakes_10-08-20.csv',parse_dates=['DateTime'])

What options do we have when we read in a csv? Let's look at the documentation!

[Convenient link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

I happen to know that there is a column in the data named 'DateTime' - let's use an argument to read it in as a datetime object, then discuss.

### Initial Exploration of a Dataframe

Questions to ask yourself:

- How big is the data?
- Are there any empty cells? 
- What are the datatypes of the columns of data?

In [13]:
# What does this dataframe look like?
# Check out the first 5 rows
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [8]:
# Check out the shape of the df
df.shape

(121051, 12)

In [9]:
# And then the size
df.size

1452612

In [14]:
# And then look at some info on the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121051 entries, 0 to 121050
Data columns (total 12 columns):
Animal ID           121051 non-null object
Name                82843 non-null object
DateTime            121051 non-null datetime64[ns]
MonthYear           121051 non-null object
Found Location      121051 non-null object
Intake Type         121051 non-null object
Intake Condition    121051 non-null object
Animal Type         121051 non-null object
Sex upon Intake     121050 non-null object
Age upon Intake     121051 non-null object
Breed               121051 non-null object
Color               121051 non-null object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.1+ MB

In [15]:
# Describe the columns
df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,121051,82843,121051,121051,121051,121051,121051,121051,121050,121051,121051,121051
unique,108222,19359,85336,85336,52519,6,10,5,5,51,2597,587
top,A721033,Max,2016-09-23 12:00:00,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,548,64,64,22227,84625,105629,68571,39184,21295,30770,12679
first,NaN,NaN,2013-10-01 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-10-05 22:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**A note on `.describe()`:** this function behaves differently whether we feed in objects or numeric types. We'll explore this more later.

**And a question:** You see that some of the ways we dealt with our dataframe required `()` and some did not - why is that?

- with ( ) --> methods or function, can pass arguments into
- without ( ) --> attributes

### Accessing Columns

Use brackets and the exact column name to access a particular column.

In [25]:
# Access specific columns here
df['Breed']

0                                    Beagle Mix
1                      English Springer Spaniel
2                                   Basenji Mix
3                        Domestic Shorthair Mix
4         Doberman Pinsch/Australian Cattle Dog
                          ...
121046                       Domestic Shorthair
121047                                 Pit Bull
121048                                 Pit Bull
121049                                 Pit Bull
121050                              Maltese Mix
Name: Breed, Length: 121051, dtype: object

In [18]:
type(df)

pandas.core.frame.DataFrame

In [20]:
type(df['Breed'])

pandas.core.series.Series

In [23]:
df[['Breed','Color']]

                                        Breed        Color
0                                  Beagle Mix     Tricolor
1                    English Springer Spaniel  White/Liver
2                                 Basenji Mix  Sable/White
3                      Domestic Shorthair Mix       Calico
4       Doberman Pinsch/Australian Cattle Dog     Tan/Gray
...                                       ...          ...
121046                     Domestic Shorthair        Black
121047                               Pit Bull   Fawn/White
121048                               Pit Bull  Brown/White
121049                               Pit Bull   Gray/White
121050                            Maltese Mix  White/White

[121051 rows x 2 columns]

In [22]:
type(df[['Breed']])

pandas.core.frame.DataFrame

In [26]:
df.Color

0            Tricolor
1         White/Liver
2         Sable/White
3              Calico
4            Tan/Gray
             ...
121046          Black
121047     Fawn/White
121048    Brown/White
121049     Gray/White
121050    White/White
Name: Color, Length: 121051, dtype: object

### Dealing with Datetime Objects

You can access parts of a datetime object using `.dt` - an attribute of the column, not a method!

In [33]:
df['DateTime']

0        2019-01-03 16:19:00
1        2015-07-05 12:59:00
2        2016-04-14 18:43:00
3        2013-10-21 07:59:00
4        2014-06-29 10:38:00
                 ...
121046   2020-10-05 17:05:00
121047   2020-10-05 17:28:00
121048   2020-10-05 20:57:00
121049   2020-10-05 20:57:00
121050   2020-10-05 22:48:00
Name: DateTime, Length: 121051, dtype: datetime64[ns]

In [32]:
# Let's check out the intake year, then other aspects of the date
df['DateTime'].dt.year # .dt.year or month or day...

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
121046    2020
121047    2020
121048    2020
121049    2020
121050    2020
Name: DateTime, Length: 121051, dtype: int64

In [34]:
# How do we create a new column?
# Let's create a new column for intake year
df['intake year'] = df['DateTime'].dt.year

In [35]:
# Check our work
df['intake year']

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
121046    2020
121047    2020
121048    2020
121049    2020
121050    2020
Name: intake year, Length: 121051, dtype: int64

In [39]:
# What datatype is the data in our new column?
df[['intake year']].describe()

        intake year
count  121051.00000
mean     2016.59769
std         1.97386
min      2013.00000
25%      2015.00000
50%      2017.00000
75%      2018.00000
max      2020.00000

In [41]:
df['intake year'].quantile(0.75)

2018.0

### Checking for Null Values

Can use `.isna` or `.isnull` - same thing!

In [43]:
# Check it - is the result what you expect?
df.isna()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,intake year
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121046,False,True,False,False,False,False,False,False,False,False,False,False,False
121047,False,False,False,False,False,False,False,False,False,False,False,False,False
121048,False,True,False,False,False,False,False,False,False,False,False,False,False
121049,False,True,False,False,False,False,False,False,False,False,False,False,False
121050,False,False,False,False,False,False,False,False,False,False,False,False,False

In [44]:
# How can you make that result more usable?
df.isna().sum()

Animal ID               0
Name                38208
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
intake year             0
dtype: int64

In [45]:
df['Name'].isna().mean()

0.31563555856622416

### Checking for Duplicate Rows

In [46]:
# Function is called duplicated - check the documentation!
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
121046    False
121047    False
121048    False
121049    False
121050    False
Length: 121051, dtype: bool

In [48]:
# Can use same trick as above on duplicated
df.duplicated().sum()

18

In [50]:
df.duplicated(keep=False).sum()

36

### Dropping Columns or Rows

Several different methods depending on what we're doing - but the to discuss right now is `.drop`

In [53]:
# Let's drop the MonthYear column, which is the same as our DateTime
df.drop(columns='MonthYear',inplace=True)

In [54]:
# Check our work here...
df.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,intake year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

Why won't my changes save ???

Fun thing about pandas - time to discuss resetting variables, or using `inplace`

### Renaming Columns

[Documentation for `.rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [65]:
# Let's remove spaces from the columns, and make all column names lowercase to be easier
df.columns

Index(['animal_id', 'name', 'datetime', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'sex_upon_intake', 'age_upon_intake',
       'breed', 'color', 'intake_year'],
      dtype='object')

In [67]:
# Can use a dictionary to rename
new_col =[]

In [69]:
# Check your work

In [61]:
# Can also use a lambda function
df = df.rename(columns = lambda x:x.lower().replace(' ', '_'))
df

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
121046,A824073,NaN,2020-10-05 17:05:00,Manor (TX),Owner Surrender,Normal,Cat,Intact Male,1 year,Domestic Shorthair,Black,2020
121047,A824076,Duchess,2020-10-05 17:28:00,Manor (TX),Owner Surrender,Injured,Dog,Intact Female,5 years,Pit Bull,Fawn/White,2020
121048,A824083,NaN,2020-10-05 20:57:00,4400 Avenue A in Austin (TX),Public Assist,Normal,Dog,Unknown,2 years,Pit Bull,Brown/White,2020
121049,A824084,NaN,2020-10-05 20:57:00,4400 Avenue A in Austin (TX),Public Assist,Normal,Dog,Unknown,2 years,Pit Bull,Gray/White,2020
121050,A764365,Rocky,2020-10-05 22:48:00,1005 Glazier Cir in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,Maltese Mix,White/White,2020

### Slicing and Dicing

Perhaps your biggest tool for exploring around your dataframes will be `.loc` (and it's accompanying `.iloc`). This allows you to use conditionals to explore your data!

In [74]:
# Example: look only at animals with intake type 'Stray'
df.loc[df['intake_type'] == "Stray"]

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
121037,A824080,NaN,2020-10-05 17:57:00,Shady Ln And Bolm Rd in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Great Pyrenees Mix,White,2020
121041,A823374,*Rhiannon,2020-09-22 15:24:00,21902 Cold Drive in Travis (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Shorthair,Gray Tabby,2020
121044,A823874,*Orson,2020-10-01 13:05:00,2328 Lakehurst Drive in Austin (TX),Stray,Normal,Cat,Intact Male,2 years,Domestic Medium Hair Mix,Brown Tabby/White,2020
121045,A823667,*Martina,2020-09-28 13:24:00,5804 Waywood Drive in Austin (TX),Stray,Sick,Dog,Intact Female,10 years,Dachshund,Black/Brown,2020
121050,A764365,Rocky,2020-10-05 22:48:00,1005 Glazier Cir in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,Maltese Mix,White/White,2020

In [78]:
# Second example: animals where the animal type is not dog
df.loc[df['animal_type'] != "Dog"]

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
8,A774147,NaN,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,2018
9,A731435,*Casey,2016-08-08 17:52:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,2016
13,A790209,Ziggy,2019-03-06 14:31:00,4424 S Mopac Expwy in Austin (TX),Public Assist,Normal,Cat,Intact Female,4 years,Domestic Shorthair Mix,Brown Tabby/White,2019
14,A743114,NaN,2017-02-04 10:10:00,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black/White,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
121041,A823374,*Rhiannon,2020-09-22 15:24:00,21902 Cold Drive in Travis (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Shorthair,Gray Tabby,2020
121042,A824072,NaN,2020-10-05 17:05:00,Manor (TX),Owner Surrender,Normal,Cat,Intact Male,10 months,Domestic Shorthair,Black,2020
121043,A824070,NaN,2020-10-05 17:05:00,Manor (TX),Owner Surrender,Normal,Cat,Intact Male,1 year,Domestic Shorthair,Blue Tabby,2020
121044,A823874,*Orson,2020-10-01 13:05:00,2328 Lakehurst Drive in Austin (TX),Stray,Normal,Cat,Intact Male,2 years,Domestic Medium Hair Mix,Brown Tabby/White,2020
121046,A824073,NaN,2020-10-05 17:05:00,Manor (TX),Owner Surrender,Normal,Cat,Intact Male,1 year,Domestic Shorthair,Black,2020

In [80]:
# And a third - animals found before 2018
df.loc[df['intake_year'] < 2018]

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
120617,A717292,Nutmeg,2015-12-05 14:32:00,14308 Dewberry Dr in Travis (TX),Stray,Normal,Dog,Intact Female,1 year,Pit Bull Mix,Brown Brindle,2015
120728,A761276,Buddy,2017-11-02 08:50:00,5505 Harold Court in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Pit Bull Mix,Blue/White,2017
120736,A724000,*Kayla,2016-04-10 12:50:00,Manor (TX),Owner Surrender,Normal,Cat,Spayed Female,7 years,Domestic Shorthair Mix,Brown Tabby,2016
120739,A611226,Leon,2015-03-20 14:09:00,4703 Nuckols Crossing in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Norfolk Terrier Mix,Brown,2015
120970,A681677,NaN,2014-06-19 13:05:00,12118 Walnut Park Xing. in Austin (TX),Public Assist,Normal,Cat,Unknown,2 years,Domestic Shorthair Mix,Blue Tabby,2014

## Let's Start to Answer Questions!

#### Question 1: What is the most common Animal Type?

In [ ]:
# Let's explore the Animal Type column to find out

In [ ]:
# Another way - look above at describe, or run another describe
# 'Top' for an object column means 'most common'

#### Question 2: What is the most common dog breed to come into the shelter?

In [ ]:
# Let's create a new df, dogs, for all dogs in the original data

In [ ]:
# Now it's easier to look at common dog breeds

#### Question 3: What percentage of animals have come into the shelter in a condition other than "Normal"?

In [ ]:
# Need to explore the proper column

In [ ]:
# Want to use pandas to calculate, not inputting number manually

In [ ]:
# Calculate percentage

In [ ]:
# Other way to calculate

## Now - Outtake Data!

Let's explore together if we have time! If not - extra credit!