# All Pandas All The Time

Pandas is a library we're going to be using pretty much every day in this course, so we're going to do a ton of practice so you can be on your way to becoming a _PANDAS MASTER_.

![Kung fu panda excited](https://data.whicdn.com/images/201331793/original.gif)

Let's continue with the data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Once again starting off with intake data, which is data describing the animals as they enter the shelter.

In [1]:
# Imports! Can't use pandas unless we bring it into our notebook
import pandas as pd

In [2]:
# Grab the data, naming the dataframe 'intakes' this time
# Don't forget to read in DateTime as a datetime column
intakes = pd.read_csv('data/Austin_Animal_Center_Intakes_10-08-20.csv')

In [3]:
# Check out the first few rows
intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [4]:
# Convert DataTime column to datatime (type)
intakes['DateTime'] = pd.to_datetime(intakes['DateTime'])

In [5]:
# Check information on the dataframe
intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121051 entries, 0 to 121050
Data columns (total 12 columns):
Animal ID           121051 non-null object
Name                82843 non-null object
DateTime            121051 non-null datetime64[ns]
MonthYear           121051 non-null object
Found Location      121051 non-null object
Intake Type         121051 non-null object
Intake Condition    121051 non-null object
Animal Type         121051 non-null object
Sex upon Intake     121050 non-null object
Age upon Intake     121051 non-null object
Breed               121051 non-null object
Color               121051 non-null object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.1+ MB

Let's do some of the transformations we did yesterday: dropping the MonthYear column, and changing column names to be lowercase without spaces.

In [6]:
# Drop MonthYear
intakes = intakes.drop('MonthYear', axis=1)

In [7]:
intakes.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [8]:
# Rename columns
intakes = intakes.rename(columns = lambda x: x.lower().replace(" ", "_"))

In [9]:
# Sanity check
intakes.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

## Dealing with Null Data

It is a fact of the data science life - you will always be surrounded by 'dirty' data. What does it mean for data to be 'dirty'? What are some of the various ways that data can be 'dirty'?

- blank cell
- inconsistent
- fake value

In [10]:
# Check for null values recognized by pandas as blank
intakes.isna()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
121046,False,True,False,False,False,False,False,False,False,False,False
121047,False,False,False,False,False,False,False,False,False,False,False
121048,False,True,False,False,False,False,False,False,False,False,False
121049,False,True,False,False,False,False,False,False,False,False,False
121050,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# Code here for a more helpful null check
intakes.isna().sum()

animal_id               0
name                38208
datetime                0
found_location          0
intake_type             0
intake_condition        0
animal_type             0
sex_upon_intake         1
age_upon_intake         0
breed                   0
color                   0
dtype: int64

There is no one way to deal with null values. What are some of the strategies we can use to deal with them?

- replace those null value with "Unknown"

How, in Pandas, can we fill null values recognized by Pandas as null? Let's practice by filling nulls for the Name column with some placeholder value, like 'No name'.

Helpful link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

In [12]:
# Code here to fill nulls in the Name column
intakes['name'] = intakes['name'].fillna(value="No Name")

Now let's check for nulls again...

In [13]:
# Sanity check
intakes.isna().sum()

animal_id           0
name                0
datetime            0
found_location      0
intake_type         0
intake_condition    0
animal_type         0
sex_upon_intake     1
age_upon_intake     0
breed               0
color               0
dtype: int64

Let's try a different strategy for the one lonely null in the 'Sex upon Intake' column - let's just drop that row, since it's only one observation.

Helpful link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [14]:
# Code here to drop the whole row where Sex upon Intake is null
intakes = intakes.dropna(subset=['sex_upon_intake'])

In [15]:
# Copy/paste code from above to re-check for nulls
intakes.isna().sum()

animal_id           0
name                0
datetime            0
found_location      0
intake_type         0
intake_condition    0
animal_type         0
sex_upon_intake     0
age_upon_intake     0
breed               0
color               0
dtype: int64

How do we find sneaky null values that aren't marked by Pandas as null?

In [16]:
# Run this cell without changes
intakes['age_upon_intake'].value_counts()

1 year       21295
2 years      18290
1 month      11649
3 years       7276
2 months      6568
4 years       4375
4 weeks       4340
5 years       3968
3 weeks       3562
3 months      3190
4 months      3143
5 months      2999
6 years       2658
2 weeks       2466
6 months      2311
7 years       2285
8 years       2220
7 months      1820
9 months      1796
10 years      1774
8 months      1453
9 years       1299
1 week        1006
10 months      982
1 weeks        879
12 years       859
11 months      778
0 years        748
11 years       727
1 day          622
3 days         562
13 years       556
2 days         463
14 years       377
15 years       325
4 days         324
5 weeks        307
6 days         301
5 days         180
16 years       135
17 years        78
18 years        47
19 years        26
20 years        17
22 years         5
-1 years         4
-3 years         1
21 years         1
24 years         1
23 years         1
25 years         1
Name: age_upon_intake, dtype: int64

In [17]:
intakes.loc[intakes['age_upon_intake'] == "25 years"]

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
91572,A740127,Sweet Pea,2016-12-11 14:55:00,7709 Whitsun Dr in Austin (TX),Public Assist,Normal,Bird,Intact Female,25 years,Cockatoo,White/Orange

In [18]:
intakes.loc[intakes['age_upon_intake'] == "-1 years"]

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
10932,A687107,Montopolis,2017-10-04 10:22:00,East Riverside Drive And Montopolis Drive in A...,Stray,Normal,Dog,Neutered Male,-1 years,Rhod Ridgeback,Red/Brown
51993,A687107,Montopolis,2017-06-19 13:26:00,7140 E Ben White in Austin (TX),Stray,Normal,Dog,Neutered Male,-1 years,Rhod Ridgeback,Red/Brown
70579,A753893,Chato,2015-06-26 16:30:00,6709 Ponca Street in Austin (TX),Stray,Normal,Dog,Intact Male,-1 years,American Bulldog Mix,White/Brown
81224,A687107,Montopolis,2018-02-27 17:00:00,400 West Parson in Manor (TX),Stray,Normal,Dog,Neutered Male,-1 years,Rhod Ridgeback,Red/Brown

In [19]:
intakes['age_upon_intake'].unique()

array(['2 years', '8 years', '11 months', '4 weeks', '4 years', '6 years',
       '5 months', '14 years', '1 month', '2 months', '18 years',
       '4 months', '1 year', '6 months', '3 years', '4 days', '1 day',
       '5 years', '2 weeks', '15 years', '7 years', '3 weeks', '3 months',
       '12 years', '1 week', '9 months', '10 years', '10 months',
       '7 months', '9 years', '8 months', '1 weeks', '2 days', '11 years',
       '0 years', '3 days', '5 days', '13 years', '5 weeks', '17 years',
       '19 years', '6 days', '16 years', '20 years', '-1 years',
       '22 years', '21 years', '-3 years', '25 years', '24 years',
       '23 years'], dtype=object)

Analyze the values you're finding in the 'Age upon Intake' column. What doesn't quite fit here?

**Note:** using `.value_counts()` is just one way to look at the values of a column. In this case, it works because we can see which values are the most common, and it's verbose enough to show even the less common values that might be problematic.

So - how do we want to deal with the data in here that doesn't make sense?

-

One strategy for dealing with data involves making it so that we can sort by age, and have a standard scale for age.

First, let's see what that would look like if we try it as the column is now:

In [20]:
# Run this cell without changes
intakes['age_upon_intake'].sort_values().unique()

array(['-1 years', '-3 years', '0 years', '1 day', '1 month', '1 week',
       '1 weeks', '1 year', '10 months', '10 years', '11 months',
       '11 years', '12 years', '13 years', '14 years', '15 years',
       '16 years', '17 years', '18 years', '19 years', '2 days',
       '2 months', '2 weeks', '2 years', '20 years', '21 years',
       '22 years', '23 years', '24 years', '25 years', '3 days',
       '3 months', '3 weeks', '3 years', '4 days', '4 months', '4 weeks',
       '4 years', '5 days', '5 months', '5 weeks', '5 years', '6 days',
       '6 months', '6 years', '7 months', '7 years', '8 months',
       '8 years', '9 months', '9 years'], dtype=object)

Let's unpack what is happening in that line of code - I take the column 'Age upon Intake' by itself (as a series), then sort the values from lowest to highest (`ascending=True`), then grab only unique results so we can see how it ordered the values without looking through all 115,088.

Does that do what we want it to? Let's discuss how this worked - how did it sort?

-

To make our problem a bit easier, without dealing with the different ways that age is broken out, let's only look at animals where the age is given in years. How can we do that?

In [21]:
# Grab only the animals where age is given in years
years_df = intakes.loc[intakes['age_upon_intake'].str.contains('year')]

In [22]:
# Check the shape of this subset dataframe
years_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69349 entries, 0 to 121050
Data columns (total 11 columns):
animal_id           69349 non-null object
name                69349 non-null object
datetime            69349 non-null datetime64[ns]
found_location      69349 non-null object
intake_type         69349 non-null object
intake_condition    69349 non-null object
animal_type         69349 non-null object
sex_upon_intake     69349 non-null object
age_upon_intake     69349 non-null object
breed               69349 non-null object
color               69349 non-null object
dtypes: datetime64[ns](1), object(10)
memory usage: 6.3+ MB

Can we grab only the number of years from this? Let's make a new column where we can put this data.

In [23]:
years_df['age_upon_intake'].map(lambda x: x.split()[0])

0         2
1         8
4         4
5         2
6         6
         ..
121046    1
121047    5
121048    2
121049    2
121050    4
Name: age_upon_intake, Length: 69349, dtype: object

In [24]:
years_df['age_upon_intake'].str.split().str[0]

0         2
1         8
4         4
5         2
6         6
         ..
121046    1
121047    5
121048    2
121049    2
121050    4
Name: age_upon_intake, Length: 69349, dtype: object

In [25]:
# Make a new column, 'Age in Years'
years_df['age_in_years'] = years_df['age_upon_intake'].map(lambda x: x.split()[0])

# Did you get a 'SettingWithCopyWarning'? No worries - let's discuss

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Means pandas has a better way to do this, but haven't been found yet

In [26]:
years_df.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_years
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2
6,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,6

In [27]:
# Transform that column to an integer
years_df['age_in_years'] = years_df['age_in_years'].astype(int)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
# Check your work
years_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69349 entries, 0 to 121050
Data columns (total 12 columns):
animal_id           69349 non-null object
name                69349 non-null object
datetime            69349 non-null datetime64[ns]
found_location      69349 non-null object
intake_type         69349 non-null object
intake_condition    69349 non-null object
animal_type         69349 non-null object
sex_upon_intake     69349 non-null object
age_upon_intake     69349 non-null object
breed               69349 non-null object
color               69349 non-null object
age_in_years        69349 non-null int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 6.9+ MB

In [29]:
# Check some statistics on our now-numeric column
years_df.describe()

       age_in_years
count  69349.000000
mean       3.420741
std        3.167494
min       -3.000000
25%        1.000000
50%        2.000000
75%        5.000000
max       25.000000

In [30]:
# Check the unique values - in order!
years_df['age_in_years'].sort_values().unique()

array([-3, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14,
       15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [31]:
# Let's check the mean for our now-numeric column
years_df['age_in_years'].mean()

3.4207414670723444

In [32]:
# Now let's check the median
years_df['age_in_years'].median()

2.0

Let's discuss this column - what does it mean that the mean and median are different? How will that change if we remove some of the nonsense numbers?

-

In [33]:
# Code here to deal with those nonsense numbers
nonsense_years = [-3, -1, 0]

In [34]:
# Sanity check
years_df['age_in_years'][0]

2

In [35]:
for row in years_df.index:
    if years_df['age_in_years'][row] in nonsense_years:
        years_df['age_in_years'][row] = 2

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2878: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [36]:
years_df['age_in_years'].unique()

array([ 2,  8,  4,  6, 14, 18,  1,  3,  5, 15,  7, 12, 10,  9, 11, 13, 17,
       19, 16, 20, 22, 21, 25, 24, 23])

In [37]:
# Code here to re-check your mean/median values
years_df['age_in_years'].mean()

3.44255865261215

In [38]:
years_df['age_in_years'].median()

2.0

## Group By

We can use a `groupby` function to find out interesting patterns among groups in our data. Let's use one now to find the average age of each animal type in years.

In [39]:
# Run just a groupby on the animal_type column - what's the output?
years_df.groupby(years_df['animal_type'])

In [40]:
# Add an aggregation function
years_df.groupby(years_df['animal_type']).mean()

             age_in_years
animal_type
Bird             1.725581
Cat              3.610222
Dog              3.592819
Livestock        1.571429
Other            1.582876

In [41]:
years_df.groupby(years_df['animal_type']).agg(['mean', 'count'])

            age_in_years
                    mean  count
animal_type
Bird            1.725581    430
Cat             3.610222  16063
Dog             3.592819  47932
Livestock       1.571429      7
Other           1.582876   4917

## Dealing with Duplicates

Let's go back to our full intakes dataframe

In [42]:
# Check for duplicates
intakes.duplicated().sum()

18

In [43]:
# Now check specifically for Animal IDs that are duplicated
intakes.duplicated(subset='animal_id').sum()

12829

In [44]:
# Handle duplicates - only take the 1st intake for each animal
# Save it as a new version, named clean_intakes
clean_intakes = intakes.drop_duplicates(subset='animal_id',keep='first')

In [45]:
clean_intakes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108221 entries, 0 to 121049
Data columns (total 11 columns):
animal_id           108221 non-null object
name                108221 non-null object
datetime            108221 non-null datetime64[ns]
found_location      108221 non-null object
intake_type         108221 non-null object
intake_condition    108221 non-null object
animal_type         108221 non-null object
sex_upon_intake     108221 non-null object
age_upon_intake     108221 non-null object
breed               108221 non-null object
color               108221 non-null object
dtypes: datetime64[ns](1), object(10)
memory usage: 9.9+ MB

## Merging Dataframes

We were given two data sources here - both an Intakes and an Outcomes CSV. Let's merge them!

![Merge diagram from Data Science Made Simple](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

[Image from Data Science Made Simple's post on Joining/Merging Pandas Data Frames](http://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

In [46]:
!ls data/

Austin_Animal_Center_Intakes_10-08-20.csv
Austin_Animal_Center_Outcomes_10-14-20.csv
flights.db
titanic.csv

In [47]:
# Read in our outcomes csv as a dataframe named outcomes
outcomes = pd.read_csv('data/Austin_Animal_Center_Outcomes_10-14-20.csv')

In [48]:
# Check out our outcomes data
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

What column should we use to merge these DataFrames?

-

Let's do some quick cleaning on our outcomes dataframe...

In [49]:
# Change the 'DateTime' column here to be recognized as datetime objects
outcomes['DateTime'] = pd.to_datetime(outcomes['DateTime'])

In [50]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121269 entries, 0 to 121268
Data columns (total 12 columns):
Animal ID           121269 non-null object
Name                83163 non-null object
DateTime            121269 non-null datetime64[ns]
MonthYear           121269 non-null object
Date of Birth       121269 non-null object
Outcome Type        121264 non-null object
Outcome Subtype     55562 non-null object
Animal Type         121269 non-null object
Sex upon Outcome    121268 non-null object
Age upon Outcome    121268 non-null object
Breed               121269 non-null object
Color               121269 non-null object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.1+ MB

In [51]:
# Change column names to be lower case and remove spaces
outcomes = outcomes.rename(columns=lambda x: x.lower().replace(" ", "_"))

In [52]:
outcomes.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08 18:20:00,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,2016-02-13 17:59:00,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,2014-03-18 11:47:00,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,2014-10-18 18:52:00,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [53]:
# Drop monthyear
outcomes = outcomes.drop('monthyear', axis=1)

In [54]:
outcomes.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,2019-05-08 18:20:00,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,2014-03-18 11:47:00,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,2014-10-18 18:52:00,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [55]:
# Drop duplicate animal IDs, keeping only the 1st
# Save this as clean_outcomes
clean_outcomes = outcomes.drop_duplicates(subset='animal_id',keep="first")

In [56]:
# Sanity check
outcomes.duplicated().sum()

17

In [57]:
clean_outcomes.duplicated().sum()

0

Now... let's merge!

In [58]:
# Code here to merge dataframes
combined_df = clean_intakes.merge(clean_outcomes,
                                 on='animal_id',
                                  suffixes=["_intakes", "_outcomes"])

In [59]:
# Code here to check out the details of our new dataframe
combined_df.head()

,animal_id,name_intakes,datetime_intakes,found_location,intake_type,intake_condition,animal_type_intakes,sex_upon_intake,age_upon_intake,breed_intakes,...,name_outcomes,datetime_outcomes,date_of_birth,outcome_type,outcome_subtype,animal_type_outcomes,sex_upon_outcome,age_upon_outcome,breed_outcomes,color_outcomes
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,...,*Brock,2019-01-08 15:11:00,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,...,Belle,2015-07-05 15:13:00,07/05/2007,Return to Owner,NaN,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,...,Runster,2016-04-21 17:17:00,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,...,NaN,2013-10-21 11:39:00,09/21/2013,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,...,Rio,2014-07-02 14:16:00,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [60]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107563 entries, 0 to 107562
Data columns (total 21 columns):
animal_id               107563 non-null object
name_intakes            107563 non-null object
datetime_intakes        107563 non-null datetime64[ns]
found_location          107563 non-null object
intake_type             107563 non-null object
intake_condition        107563 non-null object
animal_type_intakes     107563 non-null object
sex_upon_intake         107563 non-null object
age_upon_intake         107563 non-null object
breed_intakes           107563 non-null object
color_intakes           107563 non-null object
name_outcomes           69958 non-null object
datetime_outcomes       107563 non-null datetime64[ns]
date_of_birth           107563 non-null object
outcome_type            107558 non-null object
outcome_subtype         52579 non-null object
animal_type_outcomes    107563 non-null object
sex_upon_outcome        107563 non-null object
age_upon_outcome        107563 non-null object
breed_outcomes          107563 non-null object
color_outcomes          107563 non-null object
dtypes: datetime64[ns](2), object(19)
memory usage: 18.1+ MB

Let's discuss - can anyone guess why I had us remove duplicates before this merge? What would happen if I didn't? How could we make our combined_df better?

-

## Level Up!

1. Find the **age in days** for all animals, not just the ones whose age is provided in years. Be sure to do this on the original dataframe, not just on subsets of the dataframe.

   - (Assume a year is 365 days, and a month is 30 days)

        
2. Ask a few questions of the combined dataframe that you couldn't figure out by just looking at the intakes or outcomes dataframes by themselves.

   - Example: Can you find out how long each animal in the combined dataframe has been in the shelter? 
        
       - Hint: Check out Date Time objects - a new data type that isn't a string or an integer, but which Pandas can recognize as time! https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [61]:
# Code here to work on level up #1
intakes['age_upon_intake'].sort_values().unique()

array(['-1 years', '-3 years', '0 years', '1 day', '1 month', '1 week',
       '1 weeks', '1 year', '10 months', '10 years', '11 months',
       '11 years', '12 years', '13 years', '14 years', '15 years',
       '16 years', '17 years', '18 years', '19 years', '2 days',
       '2 months', '2 weeks', '2 years', '20 years', '21 years',
       '22 years', '23 years', '24 years', '25 years', '3 days',
       '3 months', '3 weeks', '3 years', '4 days', '4 months', '4 weeks',
       '4 years', '5 days', '5 months', '5 weeks', '5 years', '6 days',
       '6 months', '6 years', '7 months', '7 years', '8 months',
       '8 years', '9 months', '9 years'], dtype=object)

In [62]:
years_df.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_years
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2
6,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,6

In [63]:
def year_to_day(value):
    return value*365

In [64]:
years_df['age_in_years'].apply(year_to_day)

0          730
1         2920
4         1460
5          730
6         2190
          ...
121046     365
121047    1825
121048     730
121049     730
121050    1460
Name: age_in_years, Length: 69349, dtype: int64

In [65]:
def month_to_day(value):
    return value*30

In [66]:
def week_to_day(value):
    return value*7

In [67]:
def day_to_day(value):
    return value

In [68]:
months_df = intakes.loc[intakes['age_upon_intake'].str.contains('month')]
months_df.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
9,A731435,*Casey,2016-08-08 17:52:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby
11,A707375,*Candy Cane,2015-07-11 18:19:00,Galilee Court And Damita Jo Dr in Manor (TX),Stray,Normal,Dog,Intact Female,5 months,Pit Bull,Brown/White
16,A783861,Tulip,2018-11-07 15:53:00,3110 Guadalupe Street in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Brown Tabby
18,A736287,*Twilight,2016-10-08 11:53:00,South First And Stassney in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Torbie

In [69]:
months_df['age_upon_intake'].map(lambda x: x.split()[0])

2         11
9          5
11         5
16         1
18         1
          ..
121018     7
121021     3
121033     1
121036     2
121042    10
Name: age_upon_intake, Length: 36689, dtype: object

In [70]:
months_df['age_in_months'] = months_df['age_upon_intake'].map(lambda x: x.split()[0])
months_df.head()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_months
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,11
9,A731435,*Casey,2016-08-08 17:52:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,5
11,A707375,*Candy Cane,2015-07-11 18:19:00,Galilee Court And Damita Jo Dr in Manor (TX),Stray,Normal,Dog,Intact Female,5 months,Pit Bull,Brown/White,5
16,A783861,Tulip,2018-11-07 15:53:00,3110 Guadalupe Street in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Brown Tabby,1
18,A736287,*Twilight,2016-10-08 11:53:00,South First And Stassney in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Torbie,1

In [71]:
months_df['age_in_months'] = months_df['age_in_months'].astype(int)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
months_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36689 entries, 2 to 121042
Data columns (total 12 columns):
animal_id           36689 non-null object
name                36689 non-null object
datetime            36689 non-null datetime64[ns]
found_location      36689 non-null object
intake_type         36689 non-null object
intake_condition    36689 non-null object
animal_type         36689 non-null object
sex_upon_intake     36689 non-null object
age_upon_intake     36689 non-null object
breed               36689 non-null object
color               36689 non-null object
age_in_months       36689 non-null int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 3.6+ MB

In [73]:
months_df['age_in_months'].apply(month_to_day)

2         330
9         150
11        150
16         30
18         30
         ...
121018    210
121021     90
121033     30
121036     60
121042    300
Name: age_in_months, Length: 36689, dtype: int64

In [74]:
weeks_df = intakes.loc[intakes['age_upon_intake'].str.contains('week')]
weeks_df.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
8,A774147,No Name,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White
17,A707658,*Mint,2015-07-15 17:43:00,6118 Fairway in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White
39,A701811,No Name,2015-05-05 07:29:00,4434 Frontier Trl in Austin (TX),Stray,Nursing,Cat,Unknown,2 weeks,Domestic Shorthair Mix,Gray Tabby
52,A714578,*Dillon,2015-10-25 12:59:00,8220 W Hwy 71 in Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Brown Tabby

In [75]:
weeks_df['age_upon_intake'].map(lambda x: x.split()[0])

3         4
8         4
17        4
39        2
52        2
         ..
120913    2
120918    2
120940    4
120955    4
121012    3
Name: age_upon_intake, Length: 12560, dtype: object

In [76]:
weeks_df['age_in_weeks'] = weeks_df['age_upon_intake'].map(lambda x: x.split()[0])
weeks_df.head()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_weeks
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,4
8,A774147,No Name,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,4
17,A707658,*Mint,2015-07-15 17:43:00,6118 Fairway in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,4
39,A701811,No Name,2015-05-05 07:29:00,4434 Frontier Trl in Austin (TX),Stray,Nursing,Cat,Unknown,2 weeks,Domestic Shorthair Mix,Gray Tabby,2
52,A714578,*Dillon,2015-10-25 12:59:00,8220 W Hwy 71 in Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Brown Tabby,2

In [77]:
weeks_df['age_in_weeks'] = weeks_df['age_in_weeks'].astype(int)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
weeks_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12560 entries, 3 to 121012
Data columns (total 12 columns):
animal_id           12560 non-null object
name                12560 non-null object
datetime            12560 non-null datetime64[ns]
found_location      12560 non-null object
intake_type         12560 non-null object
intake_condition    12560 non-null object
animal_type         12560 non-null object
sex_upon_intake     12560 non-null object
age_upon_intake     12560 non-null object
breed               12560 non-null object
color               12560 non-null object
age_in_weeks        12560 non-null int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 1.2+ MB

In [79]:
weeks_df['age_in_weeks'].apply(week_to_day)

3         28
8         28
17        28
39        14
52        14
          ..
120913    14
120918    14
120940    28
120955    28
121012    21
Name: age_in_weeks, Length: 12560, dtype: int64

In [80]:
days_df = intakes.loc[intakes['age_upon_intake'].str.contains('day')]
days_df.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
33,A706507,No Name,2015-06-29 17:04:00,5306 Peppertree in Austin (TX),Stray,Normal,Cat,Unknown,4 days,Domestic Shorthair Mix,Black
36,A749400,*Pepper,2017-05-14 14:19:00,1834 Ferguson in Austin (TX),Stray,Normal,Cat,Intact Female,1 day,Domestic Shorthair Mix,Blue
224,A728599,No Name,2016-06-06 12:33:00,2819 Foster Ln in Austin (TX),Stray,Normal,Cat,Unknown,2 days,Domestic Shorthair Mix,Blue
338,A702329,No Name,2015-05-12 12:54:00,7004 Shannon Dr in Austin (TX),Stray,Normal,Cat,Unknown,1 day,Domestic Shorthair Mix,White
343,A773272,No Name,2018-05-29 17:48:00,Austin (TX),Stray,Normal,Cat,Unknown,3 days,Domestic Shorthair Mix,Blue Tabby

In [81]:
days_df['age_upon_intake'].map(lambda x: x.split()[0])

33        4
36        1
224       2
338       1
343       3
         ..
120669    1
120685    1
120941    1
120943    1
120949    1
Name: age_upon_intake, Length: 2452, dtype: object

In [82]:
days_df['age_in_days'] = days_df['age_upon_intake'].map(lambda x: x.split()[0])
days_df.head()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_days
33,A706507,No Name,2015-06-29 17:04:00,5306 Peppertree in Austin (TX),Stray,Normal,Cat,Unknown,4 days,Domestic Shorthair Mix,Black,4
36,A749400,*Pepper,2017-05-14 14:19:00,1834 Ferguson in Austin (TX),Stray,Normal,Cat,Intact Female,1 day,Domestic Shorthair Mix,Blue,1
224,A728599,No Name,2016-06-06 12:33:00,2819 Foster Ln in Austin (TX),Stray,Normal,Cat,Unknown,2 days,Domestic Shorthair Mix,Blue,2
338,A702329,No Name,2015-05-12 12:54:00,7004 Shannon Dr in Austin (TX),Stray,Normal,Cat,Unknown,1 day,Domestic Shorthair Mix,White,1
343,A773272,No Name,2018-05-29 17:48:00,Austin (TX),Stray,Normal,Cat,Unknown,3 days,Domestic Shorthair Mix,Blue Tabby,3

In [83]:
days_df.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_days
33,A706507,No Name,2015-06-29 17:04:00,5306 Peppertree in Austin (TX),Stray,Normal,Cat,Unknown,4 days,Domestic Shorthair Mix,Black,4
36,A749400,*Pepper,2017-05-14 14:19:00,1834 Ferguson in Austin (TX),Stray,Normal,Cat,Intact Female,1 day,Domestic Shorthair Mix,Blue,1
224,A728599,No Name,2016-06-06 12:33:00,2819 Foster Ln in Austin (TX),Stray,Normal,Cat,Unknown,2 days,Domestic Shorthair Mix,Blue,2
338,A702329,No Name,2015-05-12 12:54:00,7004 Shannon Dr in Austin (TX),Stray,Normal,Cat,Unknown,1 day,Domestic Shorthair Mix,White,1
343,A773272,No Name,2018-05-29 17:48:00,Austin (TX),Stray,Normal,Cat,Unknown,3 days,Domestic Shorthair Mix,Blue Tabby,3

In [84]:
days_df['age_in_days'] = days_df['age_in_days'].astype(int)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [85]:
days_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2452 entries, 33 to 120949
Data columns (total 12 columns):
animal_id           2452 non-null object
name                2452 non-null object
datetime            2452 non-null datetime64[ns]
found_location      2452 non-null object
intake_type         2452 non-null object
intake_condition    2452 non-null object
animal_type         2452 non-null object
sex_upon_intake     2452 non-null object
age_upon_intake     2452 non-null object
breed               2452 non-null object
color               2452 non-null object
age_in_days         2452 non-null int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 249.0+ KB

In [86]:
years_df['age(days)'] = years_df['age_in_years'].apply(year_to_day)
years_df.head()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_years,age(days)
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2,730
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,8,2920
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,4,1460
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2,730
6,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,6,2190

In [87]:
months_df['age(days)'] = months_df['age_in_months'].apply(month_to_day)
months_df.head()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_months,age(days)
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,11,330
9,A731435,*Casey,2016-08-08 17:52:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,5,150
11,A707375,*Candy Cane,2015-07-11 18:19:00,Galilee Court And Damita Jo Dr in Manor (TX),Stray,Normal,Dog,Intact Female,5 months,Pit Bull,Brown/White,5,150
16,A783861,Tulip,2018-11-07 15:53:00,3110 Guadalupe Street in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Brown Tabby,1,30
18,A736287,*Twilight,2016-10-08 11:53:00,South First And Stassney in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Torbie,1,30

In [88]:
weeks_df['age(days)'] = weeks_df['age_in_weeks'].apply(week_to_day)
weeks_df.head()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_weeks,age(days)
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,4,28
8,A774147,No Name,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,4,28
17,A707658,*Mint,2015-07-15 17:43:00,6118 Fairway in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,4,28
39,A701811,No Name,2015-05-05 07:29:00,4434 Frontier Trl in Austin (TX),Stray,Nursing,Cat,Unknown,2 weeks,Domestic Shorthair Mix,Gray Tabby,2,14
52,A714578,*Dillon,2015-10-25 12:59:00,8220 W Hwy 71 in Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Brown Tabby,2,14

In [89]:
days_df['age(days)'] = days_df['age_in_days'].apply(day_to_day)
days_df.head()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age_in_days,age(days)
33,A706507,No Name,2015-06-29 17:04:00,5306 Peppertree in Austin (TX),Stray,Normal,Cat,Unknown,4 days,Domestic Shorthair Mix,Black,4,4
36,A749400,*Pepper,2017-05-14 14:19:00,1834 Ferguson in Austin (TX),Stray,Normal,Cat,Intact Female,1 day,Domestic Shorthair Mix,Blue,1,1
224,A728599,No Name,2016-06-06 12:33:00,2819 Foster Ln in Austin (TX),Stray,Normal,Cat,Unknown,2 days,Domestic Shorthair Mix,Blue,2,2
338,A702329,No Name,2015-05-12 12:54:00,7004 Shannon Dr in Austin (TX),Stray,Normal,Cat,Unknown,1 day,Domestic Shorthair Mix,White,1,1
343,A773272,No Name,2018-05-29 17:48:00,Austin (TX),Stray,Normal,Cat,Unknown,3 days,Domestic Shorthair Mix,Blue Tabby,3,3

In [90]:
df = [years_df, months_df, weeks_df, days_df]

In [91]:
result = pd.concat(df, join='inner')
result.head(20)

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age(days)
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,730
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2920
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,1460
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,730
6,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,2190
7,A708452,Mumble,2015-07-30 14:37:00,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,730
10,A760053,No Name,2017-10-11 15:46:00,8800 South First Street in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair,White/Tan,730
12,A696408,*Pearl,2015-02-04 12:58:00,9705 Thaxton in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Chihuahua Shorthair,Tricolor,730
13,A790209,Ziggy,2019-03-06 14:31:00,4424 S Mopac Expwy in Austin (TX),Public Assist,Normal,Cat,Intact Female,4 years,Domestic Shorthair Mix,Brown Tabby/White,1460
14,A743114,No Name,2017-02-04 10:10:00,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black/White,730
15,A657188,Tommy,2013-11-10 17:19:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,14 years,Domestic Shorthair Mix,Brown Tabby/White,5110
20,A298074,Stumpy,2015-09-06 14:21:00,1801 Westridge in Austin (TX),Stray,Normal,Dog,Spayed Female,18 years,Parson Russell Terrier Mix,Black/White,6570
21,A754715,Rheia,2019-07-29 17:19:00,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Labrador Retriever Mix,Black/White,730
22,A810994,No Name,2019-12-25 00:05:00,7900 Rm 1826 Rd in Travis (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown,730
24,A707974,*Cleopatra,2015-07-20 18:13:00,2307 Ventura in Austin (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Shorthair Mix,Blue,730
27,A722979,No Name,2016-03-24 16:39:00,4100 Westbank Dr in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,Bat Mix,Brown,365
29,A696205,Roo,2015-02-12 11:57:00,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Black,730
31,A666877,*Romeo,2013-11-08 15:24:00,Guadalupe/St. Johns in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Dachshund Mix,Tan/White,365
32,A794334,Pearl,2019-09-02 11:52:00,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,White,1095
37,A727838,No Name,2016-05-26 14:01:00,2504 Huntwick Dr in Austin (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black,730

In [92]:
result.shape

(121050, 12)

In [93]:
years_df.shape

(69349, 13)

In [94]:
months_df.shape

(36689, 13)

In [95]:
weeks_df.shape

(12560, 13)

In [96]:
days_df.shape

(2452, 13)

In [ ]:
def age_in_days(age_string):
    age_int = int(age_string.split()[0])
    if 'year' in age_string:
        return age_int * 365
    elif 'month' in age_string:
        return age_int * 30
    elif 'week' in age_string:
        return age_int * 7
    else:
        return age_int
intakes['age_upon_intake'].apply(lambda x: age_in_days(x))

In [97]:
result = result.sort_index()
result.head(10)

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,age(days)
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,730
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2920
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,330
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,28
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,1460
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,730
6,A635072,Beowulf,2019-04-16 09:53:00,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Great Dane Mix,Black,2190
7,A708452,Mumble,2015-07-30 14:37:00,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,730
8,A774147,No Name,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,28
9,A731435,*Casey,2016-08-08 17:52:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,150

In [98]:
# Code here to work on level up #2

In [99]:
combined_df.head()

,animal_id,name_intakes,datetime_intakes,found_location,intake_type,intake_condition,animal_type_intakes,sex_upon_intake,age_upon_intake,breed_intakes,...,name_outcomes,datetime_outcomes,date_of_birth,outcome_type,outcome_subtype,animal_type_outcomes,sex_upon_outcome,age_upon_outcome,breed_outcomes,color_outcomes
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,...,*Brock,2019-01-08 15:11:00,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,...,Belle,2015-07-05 15:13:00,07/05/2007,Return to Owner,NaN,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,...,Runster,2016-04-21 17:17:00,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,...,NaN,2013-10-21 11:39:00,09/21/2013,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,...,Rio,2014-07-02 14:16:00,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [100]:
day_in = combined_df['datetime_intakes']
day_out = combined_df['datetime_outcomes']
difference = day_out - day_in

In [101]:
difference.head()

0   4 days 22:52:00
1   0 days 02:14:00
2   6 days 22:34:00
3   0 days 03:40:00
4   3 days 03:38:00
dtype: timedelta64[ns]

In [102]:
difference.shape

(107563,)

In [103]:
combined_df.head()

,animal_id,name_intakes,datetime_intakes,found_location,intake_type,intake_condition,animal_type_intakes,sex_upon_intake,age_upon_intake,breed_intakes,...,name_outcomes,datetime_outcomes,date_of_birth,outcome_type,outcome_subtype,animal_type_outcomes,sex_upon_outcome,age_upon_outcome,breed_outcomes,color_outcomes
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,...,*Brock,2019-01-08 15:11:00,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,...,Belle,2015-07-05 15:13:00,07/05/2007,Return to Owner,NaN,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,...,Runster,2016-04-21 17:17:00,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,...,NaN,2013-10-21 11:39:00,09/21/2013,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,...,Rio,2014-07-02 14:16:00,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [104]:
combined_df['time_in_shelter'] = combined_df['datetime_outcomes'] - combined_df['datetime_intakes']

In [105]:
combined_df.head()

,animal_id,name_intakes,datetime_intakes,found_location,intake_type,intake_condition,animal_type_intakes,sex_upon_intake,age_upon_intake,breed_intakes,...,datetime_outcomes,date_of_birth,outcome_type,outcome_subtype,animal_type_outcomes,sex_upon_outcome,age_upon_outcome,breed_outcomes,color_outcomes,time_in_shelter
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,...,2019-01-08 15:11:00,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,4 days 22:52:00
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,...,2015-07-05 15:13:00,07/05/2007,Return to Owner,NaN,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,0 days 02:14:00
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,...,2016-04-21 17:17:00,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White,6 days 22:34:00
3,A665644,No Name,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,...,2013-10-21 11:39:00,09/21/2013,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0 days 03:40:00
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,...,2014-07-02 14:16:00,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,3 days 03:38:00